<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Pagina Web</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="particles-js"></div>
    <div class="container" id="app">
    
    <div class="row">
        <div class="col-12 col-md-9 bg-primary">
            <div class="card text-bg-secondary">
                <div  style="font-weight: 700;"class="card-header">Registro Clientes</div>
                <div class="card-body">
                    <form id="frmAlumno" @reset.prevent="nuevoAlumno" v-on:submit.prevent="guardarAlumno">
                        <div class="row p-1">
                            <div class="col-3 col-md-5">
                                <label  style="font-weight: 700;" for="txtCodigoAlumno">Codigo:</label>
                            </div>
                            <div class="col-4 col-md-5">
                                <input required pattern="[A-Za-zÑñáéíóú|0-9 ]{3,75}" 
                                    title="Ingrese un codigo de Alumno de  digitos"
                                        v-model="alumno.codigo" type="text" class="form-control" name="txtCodigoAlumno" id="txtCodigoAlumno">
                            </div>
                        </div>
                        <div class="row p-1">
                            <div class="col-3 col-md-5">
                                <label  style="font-weight: 700;" for="txtNombreAlumno">Nombre:</label>
                            </div>
                            <div class="col-4 col-md-5">
                                <input required pattern="[A-Za-zÑñáéíóú ]{3,75}"
                                    v-model="alumno.nombre" type="text" class="form-control" name="txtNombreAlumno" id="txtNombreAlumno">
                            </div>
                        </div>
                        <div class="row p-1">
                            <div class="col-3 col-md-5">
                                <label  style="font-weight: 700;" for="txtDireccionAlumno">Direccion:</label>
                            </div>
                            <div class="col-4 col-md-5">
                                <input required pattern="[A-Za-zÑñáéíóú|0-9 ]{3,75}"
                                    v-model="alumno.direccion" type="text" class="form-control" name="txtDireccionAlumno" id="txtDireccionAlumno">
                            </div>
                        </div>
                        <div class="row p-1">
                            <div class="col-3 col-md-5">
                                <label   style="font-weight: 700;" for="txtZonaAlumno">Zona:</label>
                            </div>
                            <div class="col-4 col-md-5">
                                <input required pattern="[A-Za-zÑñáéíóú ]{3,75}"
                                    v-model="alumno.Zona" type="text" class="form-control" name="txtZonaAlumno" id="txtZonaAlumno">
                            </div>
                        </div>
                        <div class="row p-1">
                            <div class="col-3 col-md-5">
                                <input class="btn btn-primary" type="submit" 
                                    value="Guardar">
                            </div>
                            <div class="col-3 col-md-2">
                                <input class="btn btn-warning" type="reset" value="Nuevo">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div  class="col-12 col-md-12">
            <div  class="target">
                <div  style="font-weight: 700;" class="card-header">Clientes Registrados</div>
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Buscar:</th>
                                <th colspan="8"><input type="text" class="form-control" v-model="buscar"
                                    @keyup="listarAlumnos()"
                                    placeholder="Buscar por codigo o nombre"></th>
                            </tr>
                            <tr>
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Direccion</th>
                                <th>Zona</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  style="font-weight: 700;" v-for="alumno in alumnos" :key="alumno.idCliente" @click="modificarAlumno(alumno)" >
                                <td>{{ alumno.codigo }}</td>
                                <td>{{ alumno.nombre }}</td>
                                <td>{{ alumno.direccion}}</td>
                                <td>{{ alumno.Zona}}</td>
                                <td><button class="btn btn-danger" @click="borrarAlumno(alumno)">Borrar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib -->
<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
<script src="style.js"></script>
 <script>

         const { createApp } = Vue;
        createApp({
            data() {
                return {
                    accion:'nuevo',
                    buscar: '',
                    alumnos: [],
                    alumno:{
                        idCliente : '',
                        codigo : '',
                        nombre : '',
                        direccion : '',
                        Zona : '',
                    }
                }
            },
            methods:{
                guardarAlumno(){
                    this.listarAlumnos();
                    if(this.accion==='nuevo'){
                        this.alumno.idCliente = new Date().getTime().toString(16);
                        this.alumnos.push( JSON.parse( JSON.stringify(this.alumno) ) );
                    }else if(this.accion==='modificar'){
                        let index = this.alumnos.findIndex(alumno=>alumno.idAlumno==this.alumno.idCliente);
                        this.alumnos[index] = JSON.parse( JSON.stringify(this.alumno) );
                    }else if(this.accion==='borrar'){
                        let index = this.alumnos.findIndex(alumno=>alumno.idAlumno==this.alumno.idCliente);
                        this.alumnos.splice(index,1);
                    }
                    localStorage.setItem("alumnos", JSON.stringify(this.alumnos) );
                    this.nuevoAlumno();
                },
                borrarAlumno(alumno){
                    if( confirm(`Quieres Borrar a ${alumno.nombre}?`) ){
                        this.accion='borrar';
                        this.alumno=alumno;
                        this.guardarAlumno();
                    }
                },
                nuevoAlumno(){
                    this.accion = 'nuevo';
                    this.alumno.idCliente = '';
                    this.alumno.codigo = '';
                    this.alumno.nombre = '';
                    this.alumno.direccion = '';
                    this.alumno.Zona = '';
                },
                modificarAlumno(alumno){
                    this.accion = 'modificar';
                    this.alumno = alumno;
                },
                listarAlumnos(){
                    this.alumnos = JSON.parse( localStorage.getItem('alumnos') || "[]" )
                        .filter(alumno=>alumno.nombre.toLowerCase().indexOf(this.buscar.toLowerCase())>-1);
                }
            },
            created(){
                this.listarAlumnos();
            }
        }).mount('#app');
    </script>
</body>
</html>